<app-nav-bars></app-nav-bars>
<h1>Welcome To EY Training in Angular</h1>
<h2>Welcome To EY Training in Angular</h2>
<h3>Welcome To EY Training in Angular</h3>
<h4>Welcome To EY Training in Angular</h4>
<h5>Welcome To EY Training in Angular</h5>
<h6>Welcome To EY Training in Angular</h6>
<app-recommendproducts></app-recommendproducts>
<p>This is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraphThis is a long paragraph</p>
<div>
    Inside a div </div>
    <app-studentdetails></app-studentdetails>

   <button [disabled]="isUnchanged">Disabled button</button>

   <p [class]='allclass'>this is a bounded class</p>

   <button [class]='buttonclass'>Click Me!</button>
   <br>
   <label for="name" [class]='buttonclass'>Rohit</label>