<div class="recommendproducts">
<table class="recommend-table">
    <tr>
        <td>
            <img src="../../assets/podium_stage_ba_57.jpg" alt="prodcut1">
            <p>Amazing product 1</p>
            <span>Rs 10,000</span>
            <button>Add to cart</button>
        </td>
        <td>
            <img src="../../assets/podium_stage_ba_57.jpg" alt="prodcut1">
            <p>Amazing product 1</p>
            <span>Rs 10,000</span>
            <button>Add to cart</button>
        </td>
        <td>
            <img src="../../assets/podium_stage_ba_57.jpg" alt="prodcut1">
            <p>Amazing product 1</p>
            <span>Rs 10,000</span>
        </td>
        <td>
            <img src="../../assets/podium_stage_ba_57.jpg" alt="prodcut1">
            <p>Amazing product 1</p>
            <span>Rs 10,000</span>
            <button>Add to cart</button>
        </td>
    </tr>
    </table>
    
</div>