<div class="container" [ngSwitch]="myVar">

    <div *ngSwitchCase="'A'">Var is A</div>
    <div *ngSwitchCase="'B'">Var is B</div>
    <div *ngSwitchCase="'C'">Var is C</div>
    <div *ngSwitchDefault>Var is Default</div>
</div>

<select [(ngModel)]="selectedValue">
    <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>
</select>
<div class='row' [ngSwitch]="selectedValue">
    <div *ngSwitchCase="'One'">One is Pressed</div>
    <div *ngSwitchCase="'Two'">Two is Pressed</div>
    <div *ngSwitchDefault>Default option</div>
</div>